@use '/src/styles/common/color.scss' as c;

html,
body {
  font-family:
    -apple-system,
    'Hiragino Kaku Gothic ProN' BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

a,
b,
p,
i,
h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  color: c.$color-text;
}
