$color-primary: #3887cb;
$color-text: #333;
$color-sub-text: #545454;
$color-sub-sub-text: #808080;
$color-border: #c3c3c3;
$color-sub-border: #eaeaea;
$color-background: #fff;
$color-error: red;
$color-emphasis: #f27556;
$color-accent: #f5f5f5;
